<div class="row">
    <div class="col-sm-4 col-sm-offset-4">
        <form action="/api/register" method="POST">
            <legend>Register</legend>
            <p class="message text-danger"></p>
            <div class="form-group">
                <label for="register-id">Phone Number (Will not be shown to anyone)</label>
                <input type="tel" class="form-control" id="register-id" name="id" placeholder="Enter your phone number">
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
</div>
