<!DOCTYPE html>
<html>
<head>
    <title>Courier Portal</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/css/vendor/bootstrap.css">
    <link rel="stylesheet" href="/static/css/vendor/bootstrap-toggle.min.css">
    <link rel="stylesheet" href="/static/css/vendor/bootstrap-datetimepicker.css">
    <link rel="stylesheet" href="/static/css/vendor/floatButton.css">
<style>
    .align{text-align:right;}
    .container{max-width: 100%;
    overflow-x:hidden;   }
</style>
</head>
<body>

    <div  class="container">
        <table class="table table-hover"><tr>
        <th class="align"><h1>Courier Portal</h1></th>
        <th class="align"><p>User Name: {{session.user_id}}</p></th>
    </tr></table>
         <hr>
        <div id="content"></div>
    </div>
    <script src="/static/js/vendor/jquery.min.js"></script>
    <script src="/static/js/vendor/bootstrap.min.js"></script>
    <script src="/static/js/vendor/bootstrap-datetimepicker.js"></script>
    <script src="/static/js/vendor/page.js"></script>
    <script src="/static/js/vendor/handlebars.min.js"></script>
    <script src="/static/js/vendor/bootstrap-toggle.min.js"></script>
    <script src="/static/js/vendor/floatButton.js"></script>



    <script src="/static/js/helpers.js"></script>
    <script src="/static/js/view-manager.js"></script>
    <script src="/static/js/auth-manager.js"></script>
    <script src="/static/js/courier.js"></script>
    <script src="/static/js/courier-manager.js"></script>
    <script src="/static/js/routes.js"></script>
    <script src="/static/js/app.js"></script>
</body>
</html>
